<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Cursos</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">ASISTENCIA RFID</a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/estudiantes">Estudiantes</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/asistencia">Asistencia</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/cursos">Cursos</a>
                </li>
            </ul>
        </div>

    </nav>

    <main role="main" class="container-fluid">
        <div style="padding-top: 75px;">
            <h3>Cursos <button type="button" data-toggle="modal" data-target="#nuevo" class="btn btn-secondary float-right">Agregar curso</button>
            </h3>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Aula</th>
                    <th scope="col">Nombre del curso</th>
                    <th scope="col">Catedratico</th>
                    <th scope="col">Ciclo</th>
                    <th scope="col">Hora de inicio</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody id="classes-tbody">



            </tbody>
        </table>

    </main>

    <div class="modal fade" id="nuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Nuevo curso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="alert">
                    </div>
                    <form onsubmit="nuevoCurso()">
                        <div class="form-group">
                            <label for="name" class="required">Nombre del curso</label>
                            <input type="text" class="form-control" id="name" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="teacher" class="required">Catedrático</label>
                            <input type="text" class="form-control" id="teacher" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <label for="time">Hora de inicio</label>
                            <select class="form-control" id="time">
                                    <option>07:00</option>
                                    <option>08:00</option>
                                    <option>09:00</option>
                                    <option>10:00</option>
                                    <option>11:00</option>
                                    <option>12:00</option>
                                    <option>13:00</option>
                                    <option>14:00</option>
                                    <option>15:00</option>
                                    <option>16:00</option>
                                    <option>17:00</option>
                                    <option>18:00</option>
                                    <option>19:00</option>
                                    <option>20:00</option>
                                    <option>21:00</option>
                                    <option>22:00</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="grade">Ciclo</label>
                            <select class="form-control" id="grade">
                                    <option>1º Ciclo</option>
                                    <option>2º Ciclo</option>
                                    <option>3º Ciclo</option>
                                    <option>4º Ciclo</option>
                                    <option>5º Ciclo</option>
                                    <option>6º Ciclo</option>
                                    <option>7º Ciclo</option>
                                    <option>8º Ciclo</option>
                                    <option>9º Ciclo</option>
                                    <option>10º Ciclo</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="class">Aula</label>
                            <select class="form-control" id="class">
                                    <option selected>AULA 101</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="nuevoCurso()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script>
        var socket = io();

        function reloadStudents() {
            socket.emit('getClasses', function(classes) {
                $('#classes-tbody').html('');
                classes.forEach(function(clase) {
                    $('#classes-tbody').append('<tr><th scope="row">' + clase.class + '</th><td>' + clase.name + '</td><td>' + clase.teacher + '</td><td>' + clase.grade + '</td><td>' + clase.time + '</td><td><button onclick="deleteStudent(\'' + clase._id + '\')" type="button" class="btn btn-link btn-sm">Eliminar</button></td></tr>');
                })
            });
        }


        function deleteStudent(id) {
            socket.emit('deleteClass', id, function(data) {
                if (!data.error) {
                    reloadStudents();
                }
            });
        }

        function nuevoCurso() {
            if ($('#name').val() && $('#teacher').val()) {
                var newClass = {
                    name: $('#name').val(),
                    teacher: $('#teacher').val(),
                    time: $('#time').val(),
                    grade: $('#grade').val(),
                    class: $('#class').val(),
                }
                console.log(newClass)
                socket.emit('newClass', newClass, function(data) {
                    if (data.error) {
                        $('#alert').html('<div class="alert alert-danger" role="alert">' +  data.message + '</div>');
                    } else {
                        reloadStudents();
                        $('#nuevo').modal('hide');
                    }
                });

            } else {
                $('#alert').html('<div class="alert alert-danger" role="alert">Llena todos los campos</div>');
                $('.required').css('color', 'red');
            }

        }

        reloadStudents();

        $('#nuevo').on('hidden.bs.modal', function() {
            $('input').val('');
            $('#alert').html('');
            $('.required').css('color', '#212529');
        });

    </script>
</body>

</html>
